@font-face {
    font-family: "sansation";
    src: url(/content/fonts/sansation/Sansation_Regular.ttf) format("truetype");
}
@font-face {
    font-family: "sansation-italic";
    src: url(/content/fonts/sansation/Sansation_Italic.ttf) format("truetype");
}
@font-face {
    font-family: "sansation-bold";
    src: url(/content/fonts/sansation/Sansation_Bold.ttf) format("truetype");
}

.text {
  font-family: "sansation", verdana;
}

.title{
    font-family: "sansation-bold";
}


.row {
  display: flex;
  flex-direction: row;
}

.row > [class^="col-"],
.row > [class*=" col-"] {
  display: flex;
  align-items: center;
}

.row-padded {
  background-color: #F7F7F7;
  border: 1px solid #DDD;
}

.hidden{
	visibility: hidden;
}

.border{
	border : dashed;
	border-style: dashed;
	border-width: 2px;
}
.logo{
	height: 150px;
	
}

.menu{
	background-image: linear-gradient(to right, #42a1f4, #dbeeff, #42a1f4);
	background-size: 100% 100px;
	background-repeat: no-repeat;
	background-position: center;
}

.left {
	text-align: left;
}
.center{
	text-align: center;
}

.ongletcard{
	font-size : 15px;
}

.ongletcard:hover{
	background-color: grey !important;
}

.elementmenu{
	margin: auto;
	color: #003784;
	font-size: 20px;
	font-family: "sansation-bold", impact;
}

.imgcarousel{
	width: 100px;
}

.card{
	border-style: solid;
	border-color: grey;
	border-width: 2px;
	border-radius: 10px;
	height: 50%;
}



.alert{
	margin-left: 10%;
	margin-right: 10%;
}

.initiallyHidden{
	display:none;
}

.spinner-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #3498db;
	z-index: 999999;
}

#panelCategories{
	display: flex !important; 
	flex-direction: row;
	
}


.categorieTMTC{
	color:chartreuse;
	text-decoration: underline;
	font-size: 3em;
	
}

#searchbar{
	width: 150px;
	border-radius: 5px;
	height:30%;
	border-width: 0px;
	padding-left: 5px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
	font-family: "sansation-italic",impact;
	font-size: 15px;
}

#searchbar:focus{
	width : 100%;
}

